<!DOCTYPE html>
<html>
<head>
	<title>MealBox</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<style type="text/css">
	
</style>
<body style="background-color: white;">
	
    <ul class="nav navbar-nav pull-right">
        <li><a style="color:grey;" onclick="history.back()"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        <li><a style="color:grey;" onclick="history.forward()"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
      </ul>
      
 <div class="container-fluid text-center">
     <br><br>
     <br><br>
     <br><br>
     <br>
     <br>
     <br>
       <img src="images/feedback.png" width="100" height="100" style="">
      
    
        <h2>Thank you for your valuable feedback.</h2>
    
        <a href="/meals"><button class="btn btn-sm btn-success">Order Meals</button></a>

 </div>
</body>
</html>