<!DOCTYPE html>
<html>
<head>
	<title>MealBox</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<style type="text/css">
	
</style>
<body style="background-color: white;">
	
    <ul class="nav navbar-nav pull-right">
        <li><a style="color:grey;" onclick="history.back()"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        <li><a style="color:grey;" onclick="history.forward()"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
      </ul>
      
 <div class="container-fluid">
     <br>  
   <div class="col-sm-6">
      <div class="carousel-inner" >
      <div class="item active">
        <img src="images/forgot.jpg" width="3600" height="1000" style="">       
      </div>
  </div>
   </div>
    <div class="cols-sm-4">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Invalid Username and Password</h1>
        <a href="/admin_login" style="color: grey;">Try Again</a>
    </div>
    </div>
     
    </div>

 </div>
</body>
</html>